.contact .container--flex{
    align-items: flex-start;
}

.contact-information{
    padding: 10px;
    padding-top: 0;
    margin-bottom: 30px;
    border-bottom: 1px solid #DE423A;
}

.contact-information .column__tittle{
    font-family: monospace;
    
}

.contact-information [class*="icon-"]{

    font-size: 1.3em;
    margin-right: 7px;
    position: relative;
    top: 5px;
}

.contact-information .social-icon2{
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 15px;
}

.formulario{
    padding: 10px;
    padding-top: 0;
}

.formulario__label,.formulario__input-txt, .formulario__textarea{
    display: block;
    width: 100%;
}

.formulario__input-txt{
    padding: 10px;
    margin-bottom: 10px;
}

.formulario__textarea{
    min-height: 100px;
    min-width: 100%;
    max-width: 100%;
    max-height: 200px;
}

.formulario__btn{
    border: none;
    cursor: pointer;
    font-size: 1em;
    background-color: lightcoral;
}


@media screen and (min-width:480px){

    .contact .container--flex{
        align-items: flex-start;
    }

    .contact-information p{
        font-size: 1.5em;
    }

    .contact-information .column__tittle{
        font-size: 1.5em;
    }

    .contact-information{
        border-right: 1px solid red;
        border-bottom: none;
    }
}

@media screen and (min-width:768px){
    
    .contact .container--flex{
        align-items: flex-start;
    }
    .contact-information p{
        font-size: 1.9em;
    }

    .contact-information [class*="icon-"]{

        font-size: 1em;
        margin-right: 7px;
        position: relative;
        top: 5px;
    }

    .contact-information .social-icon2{
        justify-content: flex-start;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 15px;
        font-size: 2em;
    }

    .contact-information .column__tittle{
        font-size: 2.5em;
    }
    
}

@media screen and (min-width:1024px){
    
    .contact .container--flex{
        align-items: flex-start;
    }
    .contact-information p{
        font-size: 1.9em;
    }

    .contact-information{
        border-right: none;
        border-bottom: none;
    }


    .contact-information [class*="icon-"]{

        font-size: .7em;
        margin-right: 7px;
        position: relative;
        top: 5px;
    }

    .contact-information .social-icon2{
        justify-content: flex-start;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 15px;
        font-size: 2em;
    }

    .contact-information .column__tittle{
        font-size: 1.8em;
    }

    .contact-information .column__txt{
        font-size: 1.5em;
    }
    
}





