@font-face{
  font-family:"sitio-web";
  src: url("../fonts/sitio-web.eot");
  src: url("../fonts/sitio-web.eot#iefix")format("embedded-opentype"),
  url("../fonts/sitio-web.woff")format("woff"),
  url("../fonts/sitio-web.ttf")format("truetype"),
  url("../fonts/sitio-web.svg#sitio-web")format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family:"arabe";
  src: url(../letras/arabe.ttf);
}


*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #cda434;

}


/*-------estilos base --------------------*/

img{
  display: block;
  width: 100%;
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

.container{
  width: 100%;
  margin: auto;
}

.container--flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.column{
  width: 100%;
}

/*-------estilos header --------------------*/

.main-header{
  width: 100%;
}

.logo{
  font-size: 1.8em;
  color: white;
  padding: 10px;
  font-family: 'Special Elite', cursive;

  font-weight: 100;
}

.main-header__contactInfo__phone{
  color: black;
  margin: 0 auto;
  padding: 10px;
}

.main-header__contactInfo__address{
  padding: 10px;
  margin: 0;
}

.main-header [class*="icon-"]:before{
  position: relative;
  top: 2px;
  right: 5px;
}


/*-------estilos del menu --------------------*/

.main-nav{
  width: 100%;
  position: relative;
  z-index: 2000;
  padding: 10px;
}

.icon-menu{
  display: block;
  color: white;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align:center;
  cursor: pointer;
  font-size: 1.5em;
}

.social-icon{
  display: flex;
  justify-content: space-between;
}

.social-icon [class*="icon-"]{
  color: #cda434;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 1.3em;
  width: 35px;
  height: 35px;
  
}

.social-icon2{
  display: flex;
  justify-content: space-between;
}

.social-icon2 [class*="icon-"]{
  color: black;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 1.3em;
  width: 35px;
  height: 35px;
  
}

.social-icon__link{
  text-decoration: none;
}

.menu{
  position:absolute;
  top:60px;
  left: 0;
  width: 100%;
  background: rgb(0,0,0,.5);
  padding: 0;
  margin: 0;
  list-style:none;
  text-align: center;
  height: 0;
  overflow: hidden;
  transition: height .3s linear;
}

.menu__link{
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}

.menu__link:hover{
  background: #cda434; 
}
.menu__link--select{
  background: #cda434; 
}

.mostrar{
  height: 196px;

}


/*-------estilos del banner --------------------*/


.banner{
  margin-top: -55px;
  position: relative;
}

.banner:before{
  content:'' ;
  position:absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); /*transparencia */
  z-index: 1000;
  top:0;
}

.banner__img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.banner__content{
  width: 90%;
  color:#cda434;
  font-family: "arabe";
  text-align: center;
  position:absolute;
  z-index:1500 ;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 4.8em;
}

/*-------estilos principales --------------------*/

.main__title{
  margin: 15px 0;
  font-size: 1.8em;
  font-family: 'Special Elite', cursive;
  font-weight: 100;
}

.column__title{
  font-size: 1.3em;
  text-align: center;
}


.main__about__description .column:nth-child(2){
  padding: 10px;
  text-align: justify;
}

.main__about__description .img1{
  margin-top: 1em;
}

.btn{
  display: block;
  text-align: center;
  text-decoration: none;
  width: 120px;
  background: #DE423A;
  color: white;
  padding: 10px;
  margin:10px auto;
}

.group__tittle{
  color: white;
  font-family: "Fjalla One", sans-serif;
  text-align: center;
  font-size: 1.8em;
  margin: 30px;
}

.today-special .column{
  margin-bottom: 30px;
}

.today-special__img{
  margin: auto;
  max-width: 350px;
}

.today-special__title{
  text-align: center;
  font-size: 1.3em;
  padding-top: 10px;
  padding-bottom: 20px;
}


/*-------estilos footer --------------------*/

.main-footer{
  background: #222;
  color: white;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: .8em;
}

.main-footer .column__titile{
  color: #cda434;
}

.main-footer .column__txt1{
  text-align: justify;
}

.copy{
  text-align: center;
  margin: auto;
  margin-top: 15px;
}

.main-footer [class*="icon-"]{
  color: white;
  text-decoration: none;
}

.main-footer [class*="icon-"]:before{
  position: relative;
  top: 3px;
  right:5px;
}


/*-------estilos responsive --------------------*/
@media screen and (min-width:480px){
  
  .logo{
    color: white;
  }

  .main-header__contactInfo {
    text-align: right;
  }


  .main-header__contactInfo__phone{
    background: none;
    color: white;
  }

  .main-header__contactInfo__address{
    color:white;
  }


  .main-nav{
    background: rgba(0, 0,0, 0.5);
  }

  .banner{
    margin-top: -145px;
    z-index:-1000;
  }

  .banner__img{
    height: 600px; 
  }

  .banner__content{
    font-size: 2em;
  }

  .main{
    padding-bottom: 15px;
  }


  .main__about__description .column:nth-child(2){
    padding-left: 20px;
    font-size: .9em;
  }

  .main__about__description .btn{
    margin: 0;
  }

  .today-special .column{
    border: 5px solid #ddd;
    padding: 5px;
  }

  .today-special__img{
    height: 200px;
    object-fit: cover;
  }

  .main-footer .container--flex{
    align-items: flex-start;
  }

  .column--50{
    width: 49%;
  }

  .column--50-25{
    width: 49%;
  }

  .column--33{
    width: 32%;
  }

  
}

@media screen and (min-width:768px){

.main__title{
  font-size: 2.2em;
}

.main__about__description{
  margin-top: 30px;
}

.main__about__description .column--50:nth-child(2){
  font-size: 1em;
}

.main__about__description .column--50:nth-child(2) .column__txt{
  line-height: 30px;
}

.column--50-25{
  width: 24.5%;
}

.column__title{
  font-size: 1em;
}

.group__tittle{
  font-size: 2.2em;
}

.banner__content{
  font-size: 100px;
}

.column--50-25{
  width: 30%;
}

.column__title{
  font-size: 1.7em;
  text-align: center;
}

.main__about__description .column:nth-child(2){
  padding: 10px;
  text-align: justify;
  font-size: 1.1em;
}


}

@media screen and (min-width:1024px){

  .container{
    width: 1000px;
  }

  .logo{
    font-size: 2em;
    padding: 0;
  }

  .main-header__contactInfo__phone, .main-header__contactInfo__address{
    padding-right: 0;
    font-size: 1.15em;
  }

  .main-nav{
    padding: 0;
  }

  .banner__content{
    font-size: 100px;
  }

  .icon-menu{
    display: none;
  }

  .menu{
    position: static;
    display: flex;
    height: auto;
    width: auto;
  }

  .menu__link{
    padding: 20px;
  }

  .group--color .container{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
  }

  .main__title{
    font-size: 2.3em;
  }

  .main__about__description .column--50:nth-child(2) .column__txt{
    line-height: 40px;
  }

  .today-special__title{
    font-size: 1.4em;
  }

  .main-footer{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .group__tittle{
    color: white;
    font-family: "Fjalla One", sans-serif;
    text-align: center;
    font-size: 50px;
    margin: 30px;
  }

  .column--50-25{
    width: 30%;
  }

  .column__title{
    font-size: 1.9em;
    text-align: center;
  }

  .main__about__description .column:nth-child(2){
    padding: 10px;
    text-align: justify;
    font-size: 1.2em;
  }
} 

@media screen and (min-width:1600px){

    .container{
      width: 1000px;
    }

    

    .logo{
      font-size: 2em;
      padding: 0;
    }
  
    .main-header__contactInfo__phone, .main-header__contactInfo__address{
      padding-right: 0;
      font-size: 1.15em;
    }
  
    .main-nav{
      padding: 0;
    }
  
    .banner__content{
      font-size: 100px;
    }
  
    .icon-menu{
      display: none;
    }
  
    .menu{
      position: static;
      display: flex;
      height: auto;
      width: auto;
    }
  
    .menu__link{
      padding: 20px;
    }
  
    .group--color .container{
      margin-top: 30px;
      margin-bottom: 30px;
      padding: 20px;
    }
  
    .main__title{
      font-size: 2.3em;
    }
  
    .main__about__description .column--50:nth-child(2) .column__txt{
      line-height: 40px;
    }
  
    .today-special__title{
      font-size: 1.4em;
    }
  
    .main-footer{
      padding-top: 30px;
      padding-bottom: 30px;
    }
  
    .group__tittle{
      color: white;
      font-family: "Fjalla One", sans-serif;
      text-align: center;
      font-size: 50px;
      margin: 30px;
    }
  
    .column--50-25{
      width: 30%;
    }
  
    .column__title{
      font-size: 1.9em;
      text-align: center;
    }
  
    .main__about__description .column:nth-child(2){
      padding: 10px;
      text-align: justify;
      font-size: 1.2em;
    }

    
}















